#ignore
./session-scripts/*

# Don't ignore
!.gitignore
!./session-scripts/complex-sample-session-template.sh
!./session-scripts/vertical-split.sh
!./session-scripts/horizontal-split.sh
!./session-scripts/four-square-split.sh
